[Unit]
Description=simple web server

[Service]
ExecStart=cd /home/ubuntu/node.bellew.net && npm run start
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=notify

[Install]
WantedBy=multi-user.target
Alias=www-bellew-net.service
