[Unit]
Description=simple web server

[Service]
WorkingDirectory=/home/ubuntu/node.bellew.net
ExecStart=/usr/bin/npm run start
KillMode=process
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=www-bellew-net.service
